header{
    background-color: blue;
    color: white;
    font-size: 20px;
    padding: 10px;
    text-align: center;
}
body{
    text-align: left;
}
section{
    text-align: left;
}
div #s{
    display: flex;
    justify-content: left;
    padding-top: 10px;
    margin: 10px;
    
}
#searchtext{
    line-height: 0%;
    padding: 5px;  
    margin: 5px; 
    width: 70%;
}
#search{
    padding: 5px;  
    margin: 1px;
}
 
 